@import 'config.scss';

* {
    user-select: none;
}
html {
    height: 100%;
}
body {
    @extend %typography;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;

    [data-copy-pasta] {
        width: 1px;
        height: 1px;
        border: none;
        position: fixed;
        opacity: 0;
        z-index: 1000;
    }

    .toolbar {
        width: 100%;
        box-sizing: border-box;
        padding: 0.25rem 0.25rem 0.35rem;
        border-bottom: grey;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 0;
        position: relative;
        z-index: 4;
        display: flex;

        button,
        input {
            @extend %typography;
            font-weight: 500;
            border: $button-border;
            color: #fff;
            border-radius: $button-radius;
            box-sizing: border-box;
            line-height: 1.5;
            margin: $button-margin;
        }

        input {
            padding: 0.25rem 0.7rem 0.25rem;
            background-color: #fff;
            border-color: rgba(255, 255, 255, 0.6);
            color: #111;
            width: 7rem;

            &.sm {
                width: 3rem;
            }
        }

        button {
            padding-left: 1.15rem;
            padding-right: 1.15rem;
            padding-top: 0.45rem;
            padding-bottom: 0.35rem;
            display: inline-block;
            color: rgba(255, 255, 255, 0.9);
            background-color: rgba(0, 0, 0, 0.35);
            cursor: pointer;
            border-color: rgba(255, 255, 255, 0.5);

            &[data-selected] {
                background-color: rgba(0, 0, 0, 0.2);
                &:focus {
                    outline: none;
                }
            }

            &[data-select] {
                padding-right: 24px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    right: 7px;
                    top: 9px;
                    background-image: url(/chevron-down.svg);
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 100% auto;
                    height: 12px;
                    width: 12px;
                    opacity: 0.7;
                }

                ul,
                input {
                    display: none;
                }

                &:focus {
                    ul {
                        display: block;
                        position: absolute;
                        top: 30px;
                        right: 0;
                        background-color: #444;
                        border-color: #444;
                        margin: 0;
                        padding: 0;
                        li {
                            list-style: none;
                            padding: 4px 10px;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.2);
                            }
                            & + li {
                            }
                        }
                    }
                }
            }
        }

        &[data-element-selected='false'] {
            .no-element-selected {
                display: block;
            }
            .edit-options {
                display: none;
            }
        }

        &[data-element-selected='true'] {
            .no-element-selected {
                display: none;
            }
            .edit-options {
                display: block;
            }
        }

        button[value='delete'] {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        button[value='export'] {
            background-color: #385bdc;
            border-color: #385bdc;
            margin-left: auto;
            max-height: 2.25rem;
        }

        .btn-group {
            display: inline-block;

            button {
                border-radius: 0;
                margin: $button-margin -1px $button-margin 0;
            }

            button:first-of-type {
                border-left: $button-border;
                border-top-left-radius: $button-radius;
                border-bottom-left-radius: $button-radius;
                margin-left: $button-margin;
                padding-right: 0.85rem;
            }

            button:last-of-type {
                border-right: $button-border;
                border-top-right-radius: $button-radius;
                border-bottom-right-radius: $button-radius;
                margin-right: $button-margin;
                padding-left: 0.85rem;
            }
        }
    }

    .status {
        background-color: #303030;
        span {
            padding-left: 0.8rem;
            button {
                line-height: 2.5rem;
                border: none;
                padding: 0;
                margin: 0;
                @extend %typography;
                background: none;
                color: #fff;
                padding: 0 0.4rem;
                margin: 0 -0.4rem;
                cursor: pointer;

                &:active,
                &:focus {
                    outline: none;
                    background: rgba(255, 255, 255, 0.115);
                }
            }
        }
        span + span {
            color: #fff;
            position: relative;
            padding-left: 1.4rem;
            &:empty {
                display: none;
            }
            &:before {
                content: '';
                position: absolute;
                left: 7px;
                top: 4px;
                background-image: url(/chevron-right.svg);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: 100% auto;
                height: 10px;
                width: 10px;
                opacity: 0.7;
            }
        }
    }

    main.flex-item {
        @extend %checker-background;
        padding: 0;
    }

    .flex-item {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        position: relative;
        box-sizing: border-box;
        background: #fff;
        outline: dashed 1px rgba(0, 0, 0, 0.4);
        outline-offset: 0;
        z-index: 1;
        min-width: 4px;
        min-height: 4px;
        &:hover {
            outline-color: rgba(0, 0, 0, 0.6);
            outline-width: 1px;
            outline-offset: 0;
            z-index: 2;
        }
        &.editing {
            outline-color: rgba(0, 0, 0, 0.9);
            outline-width: 3px;
            outline-offset: -2px;
            z-index: 5;
        }
    }

    & > .flex-item {
        border: none;
        height: 100%;
        width: 100%;
        &.editing {
            outline-offset: 0;
        }
    }
}
